main {
  flex: 1;
}

.calendar-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(252,252,252);
}

ul {
  list-style-type: none;
  padding: 0;
}

.weekdays {
  display: flex;
  padding: 0;
  background-color: #d3d1d1;
  margin-bottom: 0;
}

.weekdays li {
  width: 14.28%;
  font-weight: bold;
  color: #000;
  padding: 15px 0;
}

.days {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.days li {
  width: 14.28%;
  border: 1.5px solid #ddd;
  padding: 50px 0;
  box-sizing: border-box;
}

.task {
  background-color: #e0f7fa;
  padding: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  display: none; /* Hide task by default */
}

.task-item {
  margin-top: 5px;
}

.addTask {
  position: absolute;
  left: 70px;
  top: 50%;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.month {
  position: relative;
  background: #5f9ce2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.prev-month, .next-month {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

.prev-month {
  left: 10px;
}

.next-month {
  right: 10px;
}

.prev-month:hover, .next-month:hover {
  color: #dddddd;
}
