body{
    background-color: #ffffff69;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;  
}

.form-check-label {
    display: inline-block;
    margin-left: 10px; 
    white-space: nowrap; 
}

.form-check-input {
    transform: translateX(-150px); 
}

.custom-card{
    background-color: rgb(217, 226, 230,0.575);
}

.custom-button{
    margin-bottom: 25px;
}

.icon-position{
    transform: translateY(-20px);
    margin-right: 20px
}

.tooltip-custom{
    transform: translateY(-335px);
    margin-left: 70px

}

.tooltip-custom2{
    margin-left: 70px
}