body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.resources {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}

.resources h2 {
    font-size: 36px;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.MentalHealthSupport, .AcademicSupport {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.MentalHealthSupport {
    background-color: #2ab7f3;
    color: rgb(5, 5, 5);
    border-radius: 5px;
}

.AcademicSupport {
    background-color: #2ab7f3;
    color: rgb(5, 5, 5);
    border-radius: 5px;
}

.MentalHealthSupport:hover, .AcademicSupport:hover {
    opacity: 0.9;
}