body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;  
}

html {
    height: 100%;  
}

main {
    flex: 1; 
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
} 

h3 {
    font-size: 24px;
    color: #333;
} 

.timer {
  display: inline-block;
  width: 70%;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color:  #3498db;
  color: #ffff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #f87070;
}

.timer-display {
  font-size: 80px;
  font-weight: bold;
}

