html {
    height: 100%;  
}

main {
    flex: 1; 
}

.profile-container {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    background-color: #f5f5f5;
}
.profile-header {
    display: flex;
    align-items: left;
}
.profile-header img {
    margin-right: 50px;
}
.edit-avatar-button {
    display: block;
    margin: 10px 0; 
    font-size: medium;
    background-color: #2ab7f3;
    color: rgb(255, 255, 255);
}
.Button-container{
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    align-items: left; 
}
.PublicProfile-button{
    padding: 10px 20px;
    background-color: #2ab7f3;
    color: rgb(255, 255, 255);
}
.Account-button{
    padding: 10px 20px;
    background-color: #2ab7f3;
    color: rgb(255, 255, 255);
}
.ViewManageFriendsList-button{
    padding: 10px 20px;
    background-color: #2ab7f3;
    color: rgb(255, 255, 255);
}
