body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;  
}
html {
    height: 100%;  
}

main {
    flex: 1; 
}

.profile-container {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    margin-left: 80px;
}
.profile-header {
    display: flex;
    align-items: left;
}
.profile-header img {
    height: 70px;
    width: 70px;
}
.edit-avatar-button {
    display: block;
    margin: 50px; 
    font-size: medium;
    background-color: #008080;
    color: rgb(255, 255, 255);
}
.Button-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 80px;
    gap: 15px; 
}
.PublicProfile-button{
    width: 250px; 
    height: 50px;
    padding: 10px 20px;
    background-color: #008080;
    color: rgb(255, 255, 255);
}
.Account-button{
    width: 250px; 
    height: 50px;
    padding: 10px 20px;
    background-color: #008080;
    color: rgb(255, 255, 255);
}
.ViewManageFriendsList-button{
    width: 250px; 
    height: 50px;
    padding: 10px 20px;
    background-color: #008080;
    color: rgb(255, 255, 255);
}
