body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;  
}
html {
    height: 100%;  
}

main {
    flex: 1; 
}

.profile-container {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    margin-left: 80px;
}
.profile-header {
    display: flex;
    align-items: left;
}
.profile-header img {
    height: 70px;
    width: 70px;
}
.edit-avatar-button {
    display: block;
    margin: 20px; 
    font-size: medium;
    background-color: #2ab7f3;
    color: rgb(255, 255, 255);
}
.tab button {
    display: block;
    background-color: #2ab7f3;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}
.tab-content {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}
.FriendsList-container {
    display: flex;
    align-items: center;
}
.FriendsList-container img {
    width: 65px; 
    height: 65px;
    margin-right: 15px; 
}
.FriendsList-container button {
    padding: 10px 20px;
    background-color: #2ab7f3;
    color: rgb(255, 255, 255) 
}
.BlockedList-container {
    display: flex;
    align-items: center;
}
.BlockedList-container img {
    width: 60px; 
    height: 60px;
    margin-right: 15px; 
}
.BlockedList-container button {
    padding: 10px 20px;
    background-color: #2ab7f3;
    color: rgb(255, 255, 255)
}
.ChangeEmail-button, .ChangePassword-button {
    padding: 10px 20px;
    background-color: #2ab7f3;
    color: rgb(255, 255, 255);
    display: block; 
    width: 100%; 
    margin-bottom: 10px; 
}
.SaveChanges-button {
    padding: 10px 20px;
    background-color: #2ab7f3;
    color: rgb(255, 255, 255) 
}
.TimeZone-button {
    padding: 10px 20px;
    background-color: #2ab7f3;
    color: rgb(255, 255, 255) 
}